
 *{
 margin: 0px;
 padding: 0px;
}

body{
  background: #efd7bf;
}
 

.flex-card {
  display: flex;
    flex-wrap: wrap;
  justify-content: center;
}


.flex-card > div {
    border-radius: 25px;
  width:200px;
  margin: 15px 30px;
  text-align: center;
    font: 200 8px Roboto, Arial, sans-serif;
    color: rgb(0, 0, 0);
     position: relative;
     overflow: hidden;
      background-color: white;
}



.card-background{
 background: linear-gradient(to right,RGB(222, 32, 106), RGB(250, 122, 52));
 height: 80px;
 width: 100%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.card-image{
 border-radius: 50%;
 width: 80px;
 height: auto;
 position: relative;
 top: 20px;
 border: 0px solid white;
}

.card-info{
 margin-top: 30px;
 padding:10px;
}



h1{
 color: #f8713a; 
 padding-bottom:20px;
}

h2{
 padding-bottom:10px;
}



button {
  background-color: #f8713a;
  color:white;
  width: 100px;
  height: 30px;
   border: none;
  cursor: pointer;
  font: 400 17px Roboto, Arial, sans-serif;
margin: 10px 20px ;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ff7575,
              0 0 25px #ff7575,
              0 0 50px #ff7575,
              0 0 100px #ff7575;
}